
body {
    background-color: whitesmoke;
}

header {
    text-align: center;
    background-color: #549D53;
    color: #E5EFD2;
    margin-top: 50px;
    margin-bottom: 50px;
}
tbody {
    border-collapse: collapse;
    border: 2.5px solid black;
}
#submiteeSpreadSheet, th, tr {
    border: 1px solid black;
    border-collapse: collapse;
}
.info {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    align-content: center;
}

.aboveBudget {
    background-color: red;
}

.idInput {
    text-align: center;
}

.removeBtn {
    width: 40%;
    margin: 0 auto;
    display: block;
}
th {
    background-color: #4B8C4A;
    border: 2px solid black;
}


#totalMonthlySalary{
    text-align: right;
    margin-right: 10%;
    display: inline-flex;
    
}
tr:nth-child(even) {background-color: #559E54;}

tbody{
    background-color: #D4F7D4;
}