
body {
    background-color: wheat;
}



header {
    text-align: center;
    background-color: darkslategrey;
    color: silver;
    margin-top: 50px;
    margin-bottom: 50px;
}
tbody {
    border-collapse: collapse;
}
#submiteeSpreadSheet, th, tr {
    border: 1px solid black;
    border-collapse: collapse;
}
.info {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    align-content: center;
}

#aboveBudget {
    background-color: red;
}

.aboveBudget {
    background-color: red;
}

/* #submiteeSpreadSheet, th {
    border: 1px solid black;
    border-collapse: collapse;
}
#submiteeSpreadSheet, tr {
    border: 1px solid black;
    border-collapse: collapse;
} */